.container {
  padding: 0 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

.main {
  max-width: 58.75rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.noBookmarked {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  text-decoration: underline wavy;
  color: var(--gray-dark);
}
